

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <meta name="viewport" content="width=device-width" />
    <title>StudentInfo</title>
</head>
<body>
    @{


        string studentresult;
        if (ViewBag.marks >= 35)
        {
            studentresult = "pass";
        }
        else
        {
            studentresult = "fail";
        }


    }
    <div>
        <table class="table table-dark">
            <tr>
                <td>Student ID</td>
                <td>@ViewBag.studentid</td>
            </tr>
            <tr>
                <td>Student Name</td>
                <td>@ViewBag.Name</td>
            </tr>
            <tr>
                <td>Student Marks</td>
                <td>@ViewBag.marks</td>
            </tr>
            <tr>
                <td>Student Result</td>
                <td>@studentresult</td>
            </tr>
            <tr>
                <td colspan="2">
                    @if (studentresult == "pass")
                    {
                        <span class="text-success">Congo , Masha Allah</span>
                    }
                    else
                    {
                        <span class="text-danger">Next Time In Sha Allah</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Semester</td>
                <td>
                    @for (int i = 0; i < ViewBag.Noofsem; i++)
                    {
                        <span>@i</span>
                    }
                </td>
            </tr>
            <tr>
                <td>Subjects</td>
                <td>
                    @foreach(var items in ViewBag.sub)
            {
                    <ul>@items</ul>
            }
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
